:root[color-mode="light"] {
    --dark: #4A4453;
}

:root[color-mode="dark"] {
    background-color: #282a36;

}

:root[color-mode="light"] .light-hidden {
    display: none;
}

:root[color-mode="dark"] .dark-hidden {
    display: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
    float: right;
}

a {
    display: block;
    padding: 8px;
    color: #6272a4;
    text-decoration: none; 
}

a:link {
    color: #6272a4;
}

a:active {
    color: #bd93f9;
}

a:hover {
    color: #B18BEF;
}

body, html {
    height: 100%;
    overflow-x: hidden;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #282a36;
    background-color: var(--surface1, #E7FCFF);
}

main > .container {
    padding: 80px 15px 0;
  }

.login, .image {
    min-height: 100vh;
    margin: 0 auto;
}

.bg-image {
    background-image: url("../imgs/castle/118Z_2012.w017.n001.334B.p15.334.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 45% 50%;
  }

.login .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #d7dbee;
    margin-bottom: 4%;
    box-sizing: border-box;
}

.btn {
    text-decoration: double;
}

.btn-warning {
    background-color: #fb4454;
    border-color: #fb4454;
    color: #4c3257;
}

.btn-primary {
    background-color: #21c4dc;
    border-color: #21c4dc;

}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }

  .form-label-group > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    line-height: 1;
    color: #495057;
    cursor: text;
    /* Match the input under the label */
    border: 1px solid transparent;
    border-radius: .2rem;
    transition: all .1s ease-in-out;  
  }
  
.login button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: 0;
    cursor: text;
    box-sizing: border-box;
}

.register
{
    width: 60%;
    margin: 0 auto;
}

.register {
    width: 100%;
    padding: 10px;
    border: 1px solid #d7dbee;
    margin-bottom: 4%;
    box-sizing: border-box;
}

/* Disallow access if there's no JavaScript */
.no-js main {
    display: none !important;
  }

.jumbotron {
    padding: 3rem;
    background-color: #cee3ed;
}

.potion {
    transform: rotate(40deg) scaleX(-1);
}

#register {
    display: none;
}
#login {
    display: block;
}

#formToggle {
    cursor: pointer;
}

.colorbutton {
    fill: #cee3ed;
}

.light-hidden {
    display: block;
}

.dark-hidden {
    display: none;
}